<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<header> <a href="/users/new">Create Account</a> |  <a href="/users/login"> Login</a>  | <a href="/users/logout">Logout</a></header>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>