<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <title>Bulletin Board</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
<header> <a href="/users/new">Create Account</a> |  <a href="/users/login"> Login</a>  | <a href="/users/logout">Logout</a> | <a href="/search">Search</a></header>
    <main>
        <h1 id="the-heading">unnamed website</h1>
        {{{body}}}
    </main>


</body>

</html>