header{
    background: rgb(133, 184, 241);
    color: rgb(49, 24, 189);
    text-align: right;
    padding: 10px;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    color: rgb(59, 31, 216);
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 1.5%;
}

h3,
h4,
h5,
h6 {
  color: rgb(148, 86, 86);
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 3%;
}

p {
    color: rgb(82, 82, 82);
    font-size: 1rem;
    line-height: 2;
    margin-left: 3%;
}

label {
    font-weight: bold;
}

form {
    margin-left: 3%;
}

.post {
    outline: 5px solid black;
    margin-right: 60%;
}

.picture{
    max-width:30%; 
    height:auto; 
}

.author {
    font-style: italic;
    font-size: 90%;
}

.other {
    margin-left: 4%;
}

.list-end {
    margin-bottom: 20px;
}

a {
	color: rgb(99, 7, 99);
    text-decoration: none;
}

a:hover {
	color: gold;
	text-decoration: underline;
}

a:visited {
	color: sienna;
}

aside{
    float: right;
}