header{
    text-align: right;
}

h1 {
    color: rgb(148, 86, 86);
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    color: rgb(148, 86, 86);
    font-size: 24px;
    margin-bottom: 5px;
}

h3,
h4,
h5,
h6 {
  color: rgb(148, 86, 86);
  font-size: 18px;
  margin-bottom: 5px;
}

p {
    color: rgb(82, 82, 82);
    font-size: 1rem;
    line-height: 2;
}

label {
    font-weight: bold;
}

.picture{
    max-width:15%; 
    height:auto; 
}

p.author {
    font-style: italic;
    font-size: 90%;
}

a {
	color: fuchsia;
	text-decoration: none;
	
}

a:hover {
	color: gold;
	text-decoration: underline;
}

a:visited {
	color: sienna;
}
