<link rel="stylesheet" href="../public/css/user.css">

<br>
{{#if error}}
<p> {{etext}} </p>
{{/if}}

<form id = "login-form" action = "/users/login" method = "post">
<label> Username
    <input type="text" name="userName" id="userName">
</label>
<br>
<label> Password
    <input type="password" class = "Password" name="password" id="password">
</label>
<br>
{{!-- <button><a href="/users/new">Register</a></button> --}}
<button type="submit">Login</button>

</form>

<br>
<p><a href="/users/new">Register</a></p>
