<section>
  <h2>Posts</h2>
  <h3><a href="/posts/new">Add new post</a></h3>
  {{#each posts}}  
    <article class="post">
      <h2><a href="/posts/{{_id}}">{{title}}</a></h2>
      <p>{{body}}</p>
    </article>
  {{/each}}
</section>