<article class="reply">
  <li>{{text}}</li>
      <li>
        <ul>
          <li class="author">Posted by <a href="/users/{{poster._id}}">{{poster.userName}}</a></li>
        </ul>
      </li>
    <br>
</article>
