<article class="reply">
  <li><a href="/posts/replies/{{_id}}">{{text}}</a></li>
      <li>
        <ul>
          <li class="author">Posted by <a href="/users/{{poster._id}}">{{poster.userName}}</a></li>
        </ul>
      </li>
</article>
